<div class="tooltip" ><i class="fa fa-info-circle fa-3x" aria-hidden="true"></i> 
  <span class="tooltiptext">You can see variety of Furnitures here... </span></div>                     
<div class="content">    
  <div class="small-container">
  <a name="COT"></a>
  <h1 class="title">ROOMS</h1>
  <div class="row">
  <div class="col-1">
 <img src="../../assets/room1.jpg" alt="room1.jpg" style="height:90px;">
 <h2>Single Bed room</h2>
<p>The unique carved and textured exterior resembles the great temples of the Chola period</p>
</div>
<div class="col-1">
<img src="../../assets/room2.jpg" alt="room2.jpg">
<h2>Deluxe Bed room</h2>

<p>Standalone concierge staff available at least 16 hours a day.</p>          
</div>
<div class="col-1">
<img src="../../assets/room3.jpg" alt="room3.jpg">
<h2>Double Deluxe Bed room</h2>

<p>These have king sized beds with more comfort and amenties.</p>                
</div>
<div class="col-1">
<img src="../../assets/room4.jpg" alt="room4.jpg">
<h2>Master Bed room</h2>

<p>This room is completelely furmished and marbeled .</p>           
</div>

</div>
</div>
<div class="small-container">
  <a name="Matress"></a> 
<h1 class="title">SPA</h1>
<div class="row">
<div class="col-1">
<img src="../../assets/spa1.jpg" alt="spa1.jpg">

<p>This is completely relaxes your mind.</p>  
</div>
<div class="col-1">
<img src="../../assets/spa2.jpg" alt="spa2.jpg">

<p>This is to have a peaceful sleep with gentle massage .</p>  
</div>
<div class="col-1">
<img src="../../assets/spa3.jpg" alt="spa3.jpg">

<p>This is a special lounge for relaxation.</p>  
</div>           
</div>
</div>
<div class="small-container">
  <a name="DINING"></a>
<h1 class="title">Hotel surroundings</h1>
<div class="row">
<div class="col-1">
<img src="../../assets/reception.jpg" alt="reception.jpg">
<h2>Reception</h2>

<p>These are completely furnished marbles and stone which makes you comfort</p>
</div>
<div class="col-1">
<img src="../../assets/restaurent.jpg" alt="restaurent.jpg">
<h2>Resataurent</h2>

<p>This is a multi cuisine restaurent with all types of and a multi regional buffet</p>          
</div>
<div class="col-1">
<img src="../../assets/swimmingpool.jpg" alt="swimmingpool.jpg">
<h2>Swimming Pool</h2>

<p>This is a master swimming pool where you can have more fun and take sun bath.</p>                
</div>  
<div class="col-1">
<img src="../../assets/corridor.jpg" alt="corridor.jpg">
<h2>Corridor</h2>

<p>This is a fully air conditioned corridor</p>                
</div>  

</div>