<h2>Cakes</h2>
<div class="container">
<div class="row">
    <div class="column">
        <a style="padding: 10px; color: white;">CONTACT:
            5STARHOTELS,157,ERODE,TAMILNADU-649874.</a>
        <h2>Cakes :</h2>
        <img src="../../assets/blackforest.jpg" alt="abc" style="width: 200px;" >
        <p>Black forest cake</p>
    </div>
    <div class="column">
        <a style="padding: 10px; color: white;">CONTACT:
            5STARHOTELS,157,ERODE,TAMILNADU-649874.</a>
            <h2 style="color: white;">Cakes </h2>
        <img src="../../assets/dutchtruffle.jpg" alt="abc" style="width: 200px;">
        <p>Dutch truffle cake</p>
    </div>
    <div class="column">
        <a style="padding: 10px; color: white;">CONTACT:
            5STARHOTELS,157,ERODE,TAMILNADU-649874.</a>
        <h2 style="color: white;">Cakes </h2>
        <img src="../../assets/pineapple.jpg" alt="abc" style="width: 200px;">
        <p>Pineapple cake</p>
    </div>
  </div>

  <h2>Beverages :</h2>
  <div class="row">
      <div class="column">
          <img src="../../assets/Coffee.png" alt="abc" style="width: 200px;" >
          <p>Coffee</p>
      </div>
      <div class="column">
        <img src="../../assets/Tea.png" alt="abc" style="width: 200px;">
        <p>Tea</p>
    </div>
      <div class="column">
          <img src="../../assets/coldcoffee.jpg" alt="abc" style="width: 150px;">
          <p>Frappe</p>
      </div>
      <div class="column">
          <img src="../../assets/storm.jpg" alt="abc" style="width: 150px;">
          <p>Storm energy drink</p>
      </div>
      <div class="column">
        <img src="../../assets/mango.jpg" alt="abc" style="width: 200px;">
        <p>Mango shake</p>
    </div>
    </div>
</div>
  
<div style="text-align: center;" >
    <p>We are currently not accepting any ordere these day due to tough times</p>
<br>
<img src="../../assets/idk.png" alt="idk">
<p>you can still order online with our patners</p>
<a href="https://www.swiggy.com/restaurants" target="_blank">
    <img src="../../assets/swiggy.png" alt="swiggy">
</a>
OR
<a href="https://www.zomato.com/restaurants" target="_blank">
    <img src="../../assets/zomato.png" alt="swiggy" width="100px">

