<div class="tooltip"><i class="fa fa-info-circle fa-3x" aria-hidden="true"></i> 
    <span class="tooltiptext">Fill the details;
                              you can add photos of models you desire;
                              Enter your order and queries in queris box;
                              submit the data it will send to our mail's inbox;
                              Later you'll recive message from our company.</span></div>
<div class="Mailme" style="margin-top: 7%;
                             color: black;">
 
<form action="Mailto:adhviksrinivasan@gmail.com" method="POST" enctype="text/plain">
    <label for="Name" >Name</label><br>
    <input type="text" id="" name="name" placeholder="your name"><br>
    <label for="number">Your Contact Number</label><br>
    <input type="number" id="" name="number" placeholder=" Enter your Number"><br>
    <div class="box">
    <label for="email"  style="margin-top: 10px;">Your Email</label><br>
    <input type="email" id="email" name="email" placeholder="Enter your Email"><br>
    </div>
    <label for="Date">Date of arrival:</label><br>
    <input type="datetime-local" name="datetime" id=""><br>
    <label for="Date">Date of Departure:</label><br>
    <input type="datetime-local" name="datetime" id=""><br>
    <label for="Message">Note :</label><br>
    <textarea name="" id="" cols="40" rows="7"></textarea><br>
    <label for="submit"></label>
    <input type="submit" value="submit">
</form>
